.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: var(--font-size-md);
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: .5rem;
    transition: border-color 150ms var(--ease-animation),
    box-shadow 150ms var(--ease-animation);
    z-index: 1;
    position: relative;
}

select.form-control {
    padding: .5rem 2rem .5rem .75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: var(--select-caret);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px;
}

.form-control:focus {
    border-color: var(--color-primary);
    outline:  2px solid var(--color-primary);
    z-index: 2;
}

.form-control:hover {
    border-color: var(--color-primary-hover);
}
